import React from 'react';

interface {{componentName}}Props {
  color: string;
  size: 'xs' | 's' | 'm' | 'l' | 'xl';
  customSize: number;
}

const {{componentName}} = ({
  size = 's',
  color,
  customSize
}: {{componentName}}Props ) => (
  <div
    className={`fds-icon fds-icon--${size}`}
    style=\{{
      fill: color,
      width: customSize && `${customSize}px`,
      height: customSize && `${customSize}px`,
    }}
  >
    {{{svg}}}
  </div>
);

export default {{componentName}};

