import { Meta, Story, Preview, Props, ColorPalette, ColorItem } from "@storybook/addon-docs/blocks";
import { ColorSwatchWrapper } from "components/util/storybook";
import ColorSwatch from "components/util/ColorSwatch"
import Table, { TableBody, TableCell } from "components/util/Table"

<Meta title="FDS|Dictionary" />

# Colors

<Story name="Colors">
  <ColorSwatchWrapper>
    {{#each this.color}}
      <ColorSwatch hex="{{this.values.hex}}" cssVar="{{this.varNames.css}}" jsVar="{{this.varNames.js}}" />
    {{/each}}
  </ColorSwatchWrapper>
</Story>

# Layout

<Story name="Layout">
  <Table>
    <thead>
      <tr>
        <th>CSS VAR</th>
        <th>JS VAR</th>
        <th>VALUE</th>
      </tr>
    </thead>
    <TableBody>
      {{#each this.font}}
        <tr>
          <TableCell>{{this.varNames.css}}</TableCell>
          <TableCell>{{this.varNames.js}}</TableCell>
          <TableCell>{{this.value}}</TableCell>
        </tr>
      {{/each}}
    </TableBody>
  </Table>
</Story>

# Border

<Story name="Border">
  <Table>
    <thead>
      <tr>
        <th>CSS VAR</th>
        <th>JS VAR</th>
        <th>VALUE</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.border}}
        <tr>
          <TableCell>{{this.varNames.css}}</TableCell>
          <TableCell>{{this.varNames.js}}</TableCell>
          <TableCell>{{this.value}}</TableCell>
        </tr>
      {{/each}}
    </tbody>
  </Table>
</Story>

# Motion

<Story name="Motion">
  <Table>
    <thead>
      <tr>
        <th>CSS VAR</th>
        <th>JS VAR</th>
        <th>VALUE</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.motion}}
        <tr>
          <TableCell>{{this.varNames.css}}</TableCell>
          <TableCell>{{this.varNames.js}}</TableCell>
          <TableCell>{{this.value}}</TableCell>
        </tr>
      {{/each}}
    </tbody>
  </Table>
</Story>
