import { Meta, Source, Story } from "@storybook/addon-docs/blocks";
import ColorSwatch, { ColorSwatchWrapper } from "util/storybook-docs/ColorSwatch";
import { TableLayout } from 'util/storybook-docs/Table';
import { mostReadable } from 'tinycolor2';

export const mostReadableConfig = (hexName) =>
  mostReadable(hexName, '#333', { includeFallbackColors: true, level: 'AAA' });

<Meta title="Design Tokens/Dictionary" />

# Dictionary

Using JS Vars: 
`import FDS from '@cbinsights/fds/lib/dictionary/js/styleConstants'`
`<CheckIcon color={FDS.COLOR_MINT} />`

Using CSS Vars:
`.foo { color: var(--color-mint) }`

## Colors

<Story name="Colors">
  <ColorSwatchWrapper>
    {{#each this.color}}
      <ColorSwatch hex="{{this.values.hex}}" cssVar="{{this.varNames.css}}" jsVar="{{this.varNames.js}}" />
    {{/each}}
  </ColorSwatchWrapper>
</Story>

## Layout

<Story name="Layout">
  <TableLayout
    shrinkLastColumn
    headers={['CSS VAR', 'JS VAR', 'VALUE']}
    rows={[
      {{#each this.layout}}
        [ 
          '`{{ this.varNames.css }}`',
          '`{{ this.varNames.js }}`',
          "{{{ this.value }}}",
        ],
      {{/each}}
    ]} 
  />
</Story>


## Font


<Story name="Font">
  <TableLayout
    shrinkLastColumn
    headers={['CSS VAR', 'JS VAR', 'VALUE']}
    rows={[
      {{#each this.font}}
        ['{{ this.varNames.css }}', '{{ this.varNames.js }}', "{{{ this.value }}}"],
      {{/each}}
    ].map(row => {
      const generateFontValueCell = () => {
        if (row[2].startsWith('rgba')){
          return {
            style: { padding: 0, color: mostReadableConfig(row[2]), height: "1px" }, 
            className: "transparentpattern", 
            children: <div style=\{{ height: "100%", padding: "16px", cursor: "pointer", backgroundColor: row[2] }}>{row[2]}</div> 
          }
        } else if (row[2].startsWith('#')){
          return {
            style: { padding: 0, color: mostReadableConfig(row[2]), height: "1px" }, 
            children: <div style=\{{ height: "100%", padding: "16px", cursor: "pointer", backgroundColor: row[2] }}>{row[2]}</div> 
          }
        } else if (row[1].startsWith('FONT_FAMILY')){
          return {
            children: <div style=\{{ fontFamily: row[2] }}>{row[2]}</div> 
          }
        } else if (row[1].startsWith('FONT_SIZE')){
          return {
            children: <div style=\{{ fontSize: row[2] }}>{row[2]}</div> 
          }
        } else if (row[1].startsWith('FONT_WEIGHT')){
          return {
            children: <div style=\{{ fontWeight: row[2] }}>{row[2]}</div> 
          }
        } else {
          return row[2]
        }
      }
      return [
        `\`${row[0]}\``,
        `\`${row[1]}\``,
        generateFontValueCell(),
      ]
    })} 
  />
</Story>

## Border

<Story name="Border">
  <TableLayout
    shrinkLastColumn
    headers={['CSS VAR', 'JS VAR', 'VALUE']}
    rows={[
      {{#each this.border}}
        ['{{ this.varNames.css }}', '{{ this.varNames.js }}', "{{{ this.value }}}" ],
      {{/each}}
    ].map(row => {
      const generateBorderValueCell = () => {
        if (row[2].startsWith('rgba')){
          return {
            style: { padding: 0, color: mostReadableConfig(row[2]), height: "1px" }, 
            className: "transparentpattern", 
            children: <div style=\{{ height: "100%", padding: "16px", cursor: "pointer", backgroundColor: row[2] }}>{row[2]}</div> 
          }
        }
        return row[2]
      }
      return [
        `\`${row[0]}\``,
        `\`${row[1]}\``,
        generateBorderValueCell()
      ]
    })} 
  />
</Story>

## Motion

<Story name="Motion">
  <TableLayout
    shrinkLastColumn
    headers={['CSS VAR', 'JS VAR', 'VALUE']}
    rows={[
      {{#each this.motion}}
        ['`{{ this.varNames.css }}`', '`{{ this.varNames.js }}`', "{{{ this.value }}}" ],
      {{/each}}
    ]} 
  />
</Story>
